<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Flaskr</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash"> {{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
<body>
    <footer class="footer">
        <div class="footer__text container">
            <p>
                Это учебный проект. Относитесь с пониманием.
            </p>
            <p>
                &copy; Копирайт 2077 который добавлен из-за туториала
            </p>
            <hr class="footer__hr">
        </div>
        <div class="footer__sections container">
            <div class="footer__section">
                <span class="footer__title"> Связь </span>
                <a href="https://t.me/bgmdmt" class="footer__link">Telegram</a>
            </div>
            <div class="footer__section">
                <span class="footer__title"> Активное </span>
                <a href="https://stepik.org/users/428873788" class="footer__link">Stepic</a>
                <a href="https://github.com/mattewkl" class="footer__link">GitHub</a>
            </div>
        </div>
    </footer>
</body>


